<!DOCTYPE html>
<html class="no-js">
<head>

</head>
<body>


    <form>
        <table>
            <tbody>
                <tr>
                    <td>
                        Refreshing period
                    </td>
                    <td>
                        <input id="refreshingPeriod"
                               name="refreshingPeriod"
                               type="text"
                               data-val="true"
                               data-val-number
                               >
                        <span class="field-validation-valid"
                              data-valmsg-for="refreshingPeriod"
                              data-valmsg-replace="false"></span>
                    </td>
                </tr>
            </tbody>

        </table>
    </form>
    <script src="/external-scripts/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/external-scripts/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/external-scripts/jquery.validate.unobtrusive.js" type="text/javascript" charset="utf-8"></script>
    <script src="/app-modules/js/settings.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>