<!DOCTYPE html>
<html class="no-js">
<head>
    <link href="/app-modules/style/settings.css" rel="stylesheet" type="text/css" />
</head>
<body>


    <form>
        <div class="setting-label">
            Refreshing period:
        </div>
        <div>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input id="refreshingPeriod"
                                       name="refreshingPeriod"
                                       class="setting-input"
                                       type="text"
                                       data-val="true"
                                       data-val-number>
                            </td>
                            <td>
                                <span>(ms)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="field-validation-valid"
                  data-valmsg-for="refreshingPeriod"
                  data-valmsg-replace="true"></span>
        </div>

        <div class="display-settings-container">
            <div class="setting-label">Ticker display type:</div>
            <table>
                <thead>
                    <tr class="center-content">
                        <th>BUY</th>
                        <th>
                            SELL
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="center-content">
                        <td>
                            <input type="radio" name="displayTickerMode" value="BUY" />
                        </td>
                        <td>
                            <input type="radio" name="displayTickerMode" value="SELL" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>
    <script src="/external-scripts/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/external-scripts/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/external-scripts/jquery.validate.unobtrusive.js" type="text/javascript" charset="utf-8"></script>
    <script src="/app-modules/js/settings.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>